.landing-page-container{
 
    padding: 5px;
    border: 2px groove black;
    border-radius: 10px;
    min-height: 300px;
    width: 20vw;
    align-items: center;


}


.alternative-btn{
    margin-top: 50px;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    border: none;
    color: white;
    background-color: rgb(4, 192, 209);
}
.alternative-btn:hover{
    color: white;
    background-color: black;
}
#loginLogo{
    width: 120px;
    height: 100px;
}