 @import '../../App.css';

#navbar-container{
    display: flex;
    width: 100vw;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#navbar-logo{
    width: 120px;
}

#navbar-list{
    display: flex;
    flex-direction: row;
    width: 150px;
    align-items: center;
    justify-content: space-between;
}

.navbar-items, a{
    font-size: 16pt;
    padding: 6px;
    list-style: none;
    text-decoration: none;
    color: var(--grey);
}

.navbar-items:hover, a:hover{
    font-weight: 600;
    text-decoration: underline;
    color: var(--dark);
}

