@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --white: #ececec;
    --dark: #1C1F33;
    --grey: #666370;
    --brown: #9B7874;
    --red-matte: #D33E43;
    --red-intense: #FF220C;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans Display', 'Sans-Serif';
}


