#profile-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

#token{
    width: 50vw;
    word-wrap: break-word;
}

#user-bio{
    width: 50vw;
}

#profile-picture{
    width: 200px;
}